<app-cabecalho [nomePagina]="produto.nome"></app-cabecalho>

<div class="descricaoProduto">
  <div class="icons">
    <div (click)="voltar()">
      <span class="voltar material-symbols-outlined"> arrow_back_ios </span>
    </div>

    <ng-container *ngIf="estaEmFalta()">
      <div class="emFalta sombra">!</div>
    </ng-container>
  </div>

  <div class="img">
    <img [src]="produto.urlImagem" alt="" />
  </div>

  <div class="legenda sombra">
    <div class="info">
      <p>Descrição: {{ produto.descricao }}</p>

      <p>Quantidade em estoque: {{ produto.quantidade }}</p>

      <p>Quantidade desejada: {{ produto.desejado }}</p>

      <p>
        Comprado pela última vez:
        {{ getDataFormatada(produto.dataCompra.toString()) }}
      </p>

      <p>Vencimente: {{ getDataFormatada(produto.dataValidade.toString()) }}</p>

      <p>Último preço pago: {{ produto.preco }}</p>
    </div>

    <div class="botoes">
      <ng-container *ngFor="let opcao of opcoes">
        <button
          [className]="opcao.nome"
          class="sombra"
          (click)="realizarAcao(opcao.nome)"
        >
          <span class="material-symbols-outlined icon">
            {{ opcao.icone }}
          </span>
        </button>
      </ng-container>
    </div>
  </div>
</div>
