<app-cabecalho [nomePagina]="'Dashboard'"></app-cabecalho>

<div class="dashboard">
  <div class="itensDestaque">
    <ng-container *ngIf="!produtosEstaVazio; else semProdutos">
      <ng-container *ngFor="let produto of produtosFavoritados">
        <app-item-produtos
          [pagina]="pagina"
          [produto]="produto"
        ></app-item-produtos>
      </ng-container>
    </ng-container>

    <ng-template #semProdutos>
      <div class="sem-produtos">
        <app-sem-produtos></app-sem-produtos>
      </div>
    </ng-template>
  </div>

  <div class="dashboard-info">
    <div class="quantidade">
      <div class="total-produtos sombra">
        <p class="legenda">Quantidade de produtos:</p>
        {{ totalProdutos }}
      </div>

      <div class="produtos-em-falta sombra">
        <p class="legenda">Em falta:</p>
        {{ produtosEmFalta }}
      </div>
    </div>

    <div class="valor-gasto-no-mes sombra">
      <p class="legenda">Valor gasto no mês:</p>
      {{ formataValor(valorGastoNoMes) }}
    </div>
  </div>
</div>
