.dashboard {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.itensDestaque {
  overflow: scroll;
  height: 15rem;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
  padding: 0.8rem;
}

.sem-produtos {
  margin-left: 4rem;
}
