.produtos {
  height: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.produto {
  margin-bottom: 2rem;
}
