@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --color-primary-100: #d4e3f5;
  --color-primary-200: #acc6eb;
  --color-primary-300: #7593c4;
  --color-primary-400: #445d8a;
  --color-primary-500: #14213d;
  --color-primary-600: #0e1934;
  --color-primary-700: #0a122b;
  --color-primary-800: #060c23;
  --color-primary-900: #03081d;

  --color-success-100: #e2f8cf;
  --color-success-200: #c1f2a1;
  --color-success-300: #8fd96d;
  --color-success-400: #5fb443;
  --color-success-500: #288216;
  --color-success-600: #186f10;
  --color-success-700: #0c5d0b;
  --color-success-800: #074b0b;
  --color-success-900: #043e0c;

  --color-info-100: #c7f9ee;
  --color-info-200: #92f3e5;
  --color-info-300: #58ddd4;
  --color-info-400: #2eb8bb;
  --color-info-500: #00808e;
  --color-info-600: #00647a;
  --color-info-700: #004b66;
  --color-info-800: #003652;
  --color-info-900: #002744;

  --color-warning-100: #fef4cf;
  --color-warning-200: #fee59f;
  --color-warning-300: #fed36f;
  --color-warning-400: #fdc04c;
  --color-warning-500: #fca311;
  --color-warning-600: #d8830c;
  --color-warning-700: #b56608;
  --color-warning-800: #924c05;
  --color-warning-900: #783a03;

  --color-danger-100: #f9cece;
  --color-danger-200: #f39fa8;
  --color-danger-300: #dc6a82;
  --color-danger-400: #ba4167;
  --color-danger-500: #8c1345;
  --color-danger-600: #780d44;
  --color-danger-700: #640941;
  --color-danger-800: #51063b;
  --color-danger-900: #430337;

  --color-gray-100: #fdfdfd;
  --color-gray-200: #fcfcfc;
  --color-gray-300: #f7f7f7;
  --color-gray-400: #efefef;
  --color-gray-500: #e5e5e5;
  --color-gray-600: #d9d9d9;
  --color-gray-700: #bfbfbf;
  --color-gray-800: #a8a8a8;
  --color-gray-900: #8e8e8e;

  --color-black-500: #000000;
  --color-white-500: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", "sans-serif";
}

.sombra {
  box-shadow: 5px 3px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 5px 3px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 3px 20px 0px rgba(0, 0, 0, 0.15);
}

.amarelo {
  color: var(--color-warning-500);
}

body {
  width: 100vw;
  /* height: 100vh; */
}
